<VirtualHost *:{{ http_port }}>
	ServerAdmin {{ http_server_admin }}
	ServerName {{ http_host }}
	ServerAlias www.{{ http_host }}
	DocumentRoot /var/www/{{ http_host }}/wordpress
	ErrorLog /var/log/apache2/error.log
	CustomLog /var/log/apache2/access.log combined

	<Directory /var/www/{{ http_host }}>
		Require all granted
		Options Indexes FollowSymLinks
		AllowOverride All
		Order allow,deny
		Allow from all
	</Directory>

	<IfModule mod_dir.c>
		DirectoryIndex index.php index.html index.cgi index.pl  index.xhtml index.htm
	</IfModule>
</VirtualHost>
